body {
    padding-bottom: 5%;
}

.container-header {
    margin: 5% auto 7% auto;
}

.title-name, .icons-container {
    margin: 0 auto;
}

.icons-container {
    width: 60%;
    margin-top: 2em;
    padding: 0 !important;
}

.title-name {
    font-family: 'Fredericka the Great', cursive;
    font-size: 7em;
    color: purple;
}

/* Contact icons and project thumbnails */
.fa-4x { color: lightgrey; }

.fa-github:hover { color: black; }

.fa-linkedin-in { margin-right: 10%; }
.fa-linkedin-in:hover { color: #07b; }

.fa-twitter { margin-left: 10%; }
.fa-twitter:hover { color: #29f; }

.fa-envelope:hover { color: red; }

.thumbnail { padding: 10px; }
.thumbnail:hover { box-shadow: 5px 5px 10px lightgray; }


/* Handle icon displays on smaller screens */
@media screen and (max-width: 1024px){
    .icons-container {
        width: 70%;
    }
}

@media screen and (max-width: 768px){
    .icons-container {
        width: 95%;
    }
}

@media screen and (max-width: 425px){

    .container-main, .name-container {
        width: 100%;
    }

    .fa-4x {
        font-size: 45px;
    }
}

@media screen and (max-width: 375px){
    .title-name {
        font-size: 6em;
    }

    .fa-4x {
        font-size: 40px;
    }
}

@media screen and (max-width: 320px){
    .title-name {
        font-size: 5em;
    }
}
