.container-main {
    background: white;
    margin: 5em 0 10em 0;
}

.title-name {
    font-family: 'Fredericka the Great', cursive;
    font-size: 7em;
    color: purple;
}

ul {
    list-style: none;
    margin-top: 1.2em;
}

.contact {
    display: inline;
}

.fa-4x {
    color: gray;
}

.fa-github {
    margin-right: 10%;
}

.fa-github:hover {
    color: black;
}

.fa-linkedin-in {
    margin-right: 10%;
}

.fa-linkedin-in:hover {
    color: #07b;
}

.fa-twitter {
    margin-right: 10%;
}

.fa-twitter:hover {
    color: #29f;
}

.fa-envelope {
    margin-right: 2%;
}

.fa-envelope:hover {
    color: red;
}

.portfolio-head-wrapper {
    margin-bottom: 1.5em;
}

.thumbnail {
    padding: 10px;
}

.thumbnail:hover {
    box-shadow: 5px 5px 10px lightgray;
}

@media screen and (max-width: 425px){
    .fa-4x {
        font-size: 40px;
    }

    .fa-github {
        margin-right: 1em;
        margin-left: -1em;
    }

    .title-name {
        font-size: 5em;
    }
}

