.container-main {
    /* background: blue; */
    margin: 5% auto 10% auto;
}

.name-container {
    /* background: gray; */
    /* width: 70%; */
    margin: 0 auto;
}

.icons-container {
    /* background: red; */
    width: 60%;
    margin: 0 auto;
    padding: 0 !important;
}

.title-name {
    font-family: 'Fredericka the Great', cursive;
    font-size: 7em;
    color: purple;
}

ul {
    list-style: none;
    margin-top: 1.2em;
}

.contact {
    display: inline;
}

.fa-4x {
    color: gray;
    background: white;
}

.fa-github {
    /* margin-right: 32%;
    margin-left: -4%; */
}

.fa-github:hover {
    color: black;
}

.fa-linkedin-in {
    margin-right: 10%;
}

.fa-linkedin-in:hover {
    color: #07b;
}

.fa-twitter {
    margin-left: 10%;
}

.fa-twitter:hover {
    color: #29f;
}

.fa-envelope {
    /* margin-right: -5%; */
}

.fa-envelope:hover {
    color: red;
}

.thumbnail {
    padding: 10px;
}

.thumbnail:hover {
    box-shadow: 5px 5px 10px lightgray;
}

@media screen and (max-width: 1024px){
    .icons-container {
        width: 70%;
    }
}

@media screen and (max-width: 768px){
    .icons-container {
        width: 95%;
    }
}

@media screen and (max-width: 425px){

    .container-main, .name-container {
        width: 100%;
    }

    .fa-4x {
        font-size: 45px;
    }
}

@media screen and (max-width: 375px){
    .title-name {
        font-size: 6em;
    }

    .fa-4x {
        font-size: 40px;
    }
}

@media screen and (max-width: 320px){
    .title-name {
        font-size: 5em;
    }
}
